<%- include('../partials/userDetails.ejs') %>
<div class="aboutPage">
    <div>
    <div class="profile card">
        <div class="profileHead">
            <div class="profilePic">
            </div>
            <span>Barani</span>
            <span>Founder - Rangal Softwares</span>
        </div>
        <div class="profileInfo">
            <div class="tooltip" onclick="copyData('ttEmail')" onmouseout="outFunc('ttEmail')">
                <span class="tooltiptext" id="ttEmail" >Click to Copy</span>
                <span> <i class="material-icons">email</i> <%= pageData.sitemail%></span>
            </div>
            <div class="tooltip" onclick="copyData('ttContact')" onmouseout="outFunc('ttContact')">
                <span class="tooltiptext" id="ttContact" >Click to Copy</span>
                <span> <i class="material-icons">call</i> <%= pageData.sitenum%> </span>
            </div>
            <div>
                <span> <i class="material-icons">location_on</i><%= pageData.siteloc%></span>
            </div>
        </div>
    </div>
    <div class="profile card">
        <div class="profileHead">
            <div class="profilePic Kalai">
            </div>
            <span>Kalaivani</span>
            <span>Co-Founder - Rangal Softwares</span>
        </div>
    </div>   
</div>
<div> 
    <div class="abtDetails card">
        <span>About</span>
        <div class="abtMsg">
            <%- include('./../partials/editDiv.ejs', {mode: data.mode, value: pageData.abtmsg, field: 'aboutpage_abtmsg', fieldType: 'txtarea'}) %>
        </div>
        <div>
            <div>Work Experience</div>
            <div>
                <%- include('./../partials/editDiv.ejs', {mode: data.mode, value: pageData.exp, field: 'aboutpage_exp', fieldType: 'txtbox'}) %>
            </div>
            <div>Skills Supported</div>
            <div>
                <%- include('./../partials/editDiv.ejs', {mode: data.mode, value: pageData.skills, field: 'aboutpage_skills', fieldType: 'txtbox'}) %>
            </div>
        </div>
    </div>
    <div></div>
    <div class="abtServices card">
        <span>Services</span>
        <div class="serviceTiles">
            <div>Creating MERN stack applications</div>
            <div>Portfolio Application</div>
            <div>Windows Application</div>
            <div>MS SQL Server Queries & Performance tuning</div>
            <div>Application hosting</div>
            <div>Website End-to-End support</div>
            <div>Custom Product creation</div>
        </div>
    </div>
</div>
</div>